.polaroid {
  background: #ffffff;
  display: inline-block;
  padding: 1.5rem 1.5rem 0 1.5rem;
  text-align: center;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 60%;
  cursor: pointer;
}

.polaroid img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  filter: sepia(46%);
  width: 100%;
}

.polaroid:after {
  color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  min-height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  content: attr(caption);
  font-family: Caveat, cursive;
  font-weight: 700;
}
